<!-- <img src="<%= rootURL %>" alt=""> -->
<div class="contents">
    <div class="anchor">
        <ul class="anchor-link">
            <li>
                <a href="#items">
                    <span class="anchor_en en">ZAKKA</span><span class="anchor_jp ja">雑貨</span>
                </a>
            </li>
            <li>
                <a href="#food">
                    <span class="anchor_en en">FOOD</span><span class="anchor_jp ja">フード</span>
                </a>
            </li>
        </ul>
    </div>
    <%- include('./_mv.ejs') %> 
    <div class="wrapper" id="items">
        
        <div class="main_subttl en_g">
            Line up for
        </div>
        <div class="main_ttl en">
            COLLABORATION<br>
            ITEMS
        </div>
        <div class="main item-list">
            <%- include('./_main.ejs') %> 
        </div>
        <%- include('./_other.ejs') %> 
        <%- include('./_foot.ejs') %> 
        <%- include('./_footer.ejs') %> 
    </div>
    <div class="modal_bg">
        <ul class="modal_item_list">
        <%- include('./_modal-item.ejs') %> 
        <%- include('./_modal-chara.ejs') %> 
        <%- include('./_modal-food.ejs') %> 
        </ul>
    </div>
</div>


<script src="<%= rootURL %>/assets/js/index.js"></script>