<!-- <img src="<%= rootURL %>" alt=""> -->
<div class="contents">
    <%- include('./_mv.ejs') %> 
    <div class="wrapper">
        <%- include('./_main.ejs') %> 
        <%- include('./_food.ejs') %> 
        <%- include('./_footer.ejs') %> 
    </div>
</div>
<%- include('./_modal-chara.ejs') %> 
<%- include('./_modal-item.ejs') %> 
<%- include('./_modal-food.ejs') %> 


<script src="<%= rootURL %>/assets/js/index.js"></script>