        <!-- 50 -->
        <li class="modal-item menu-explanation modal_50">
            <div class="modal-menuph_wrap">
                <div class="modal-menu_ph">
                    <img class="sp" src="<%= rootURL %>/assets/img/modal_menu1.jpg" alt="">
                    <img class="pc" src="<%= rootURL %>/assets/img/pc-menu_modal1.png" alt="">
                </div>
                <div class="menu-comments">
                    <div class="menu-comment menu-comment1-1">
                        <img src="<%= rootURL %>/assets/img/menu-txt1-1.png" alt="">
                    </div>
                    <div class="menu-comment menu-comment1-2">
                        <img src="<%= rootURL %>/assets/img/menu-txt1-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="menu_right">
                <div class="pc-menu-comments">
                    <div class="menu-comment menu-comment1-1">
                        <img src="<%= rootURL %>/assets/img/menu-txt1-1.png" alt="">
                    </div>
                    <div class="menu-comment menu-comment1-2">
                        <img src="<%= rootURL %>/assets/img/menu-txt1-2.png" alt="">
                    </div>
                </div>
                <div class="modal-menutxt_wrap">
                    <p class="modal-menu_name en_g">
                        Sesame Banana Smoothie
                    </p>
                    <p class="modal-menu_price en_g">
                        ¥630
                    </p>
                    <p class="modal-menu_name modal-menu_name2 en_g">
                        Mango Smoothie
                    </p>
                    <p class="modal-menu_price en_g">
                        ¥630
                    </p>
                </div>
                <div class="modal-menu_txt">
                    トゥイーティーをイメージしたマンゴーフレーバーとバッグス・バニーをイメージした黒ごまバナナ味のスムージーが登場！　それぞれのフォルムのクッキーがトッピングされるなど見た目のかわいさも抜群。
                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 51 -->
        <li class="modal-item menu-explanation modal_51">
            <div class="modal-menuph_wrap">
                <div class="modal-menu_ph">
                    <img class="sp" src="<%= rootURL %>/assets/img/modal_menu2.jpg" alt="">
                    <img class="pc" src="<%= rootURL %>/assets/img/pc-menu_modal2.png" alt="">
                </div>
                <div class="menu-comments">
                    <div class="menu-comment menu-comment2-1">
                        <img src="<%= rootURL %>/assets/img/menu-txt2-1.png" alt="">
                    </div>
                    <div class="menu-comment menu-comment2-2">
                        <img src="<%= rootURL %>/assets/img/menu-txt2-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="menu_right">
                <div class="pc-menu-comments">
                    <div class="menu-comment menu-comment2-1">
                        <img src="<%= rootURL %>/assets/img/menu-txt2-1.png" alt="">
                    </div>
                    <div class="menu-comment menu-comment2-2">
                        <img src="<%= rootURL %>/assets/img/menu-txt2-2.png" alt="">
                    </div>
                </div>
                <div class="modal-menutxt_wrap">
                    <p class="modal-menu_name en_g">
                        Chocolate
                    </p>
                    <p class="modal-menu_price en_g">
                        ¥540
                    </p>
                    <div class="menu-wabstore en">
                        <a href="" target="_blank">
                            WEB STORE
                        </a>
                    </div>
                </div>
                <div class="modal-menu_txt">
                    コミックの表紙をデザインした小さな箱は、これだけでもアートのような佇まい。中に入ったチョコレートにも表紙アートがプリントされています。全種類そろえて並べれば、そこはまるで小さなミュージアム！
                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 52 -->
        <li class="modal-item menu-explanation modal_52">
            <div class="modal-menuph_wrap">
                <div class="modal-menu_ph">
                    <img class="sp" src="<%= rootURL %>/assets/img/modal_menu3.jpg" alt="">
                    <img class="pc" src="<%= rootURL %>/assets/img/pc-menu_modal3.png" alt="">
                </div>
                <div class="menu-comments">
                    <div class="menu-comment menu-comment3-1">
                        <img src="<%= rootURL %>/assets/img/menu-txt3-1.png" alt="">
                    </div>
                    <div class="menu-comment menu-comment3-2">
                        <img src="<%= rootURL %>/assets/img/menu-txt3-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="menu_right">
                <div class="pc-menu-comments">
                    <div class="menu-comment menu-comment3-1">
                        <img src="<%= rootURL %>/assets/img/menu-txt3-1.png" alt="">
                    </div>
                    <div class="menu-comment menu-comment3-2">
                        <img src="<%= rootURL %>/assets/img/menu-txt3-2.png" alt="">
                    </div>
                </div>
                <div class="modal-menutxt_wrap">
                    <p class="modal-menu_name en_g">
                        Cookie
                    </p>
                    <p class="modal-menu_price en_g">
                        ¥1,500
                    </p>
                    <div class="menu-wabstore en">
                        <a href="" target="_blank">
                            WEB STORE
                        </a>
                    </div>
                </div>
                <div class="modal-menu_txt">
                    バニラ味のトゥイーティー、キャラメル味のバッグス・バニー、ココア味のシルベスター！それぞれのフォルムのクッキーは、食べるのがもったいないくらい。おしゃれなボックスでギフトとしても喜ばれます。
                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>