
        <li class="modal-item item-explanation modal_1">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_1.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/1-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                    <div class="name-price">
                        <p class="modal_name en_g">
                            Bobblehead
                        </p>
                        <p class="modal_price en_g">
                            ¥3,740
                        </p>
                    </div>
                    <div class="modal_weblink en">
                        <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2328377" target="_blank">
                            WEB STORE
                        </a>
                    </div>
                </div>
                <div class="modal_txt">
                    ゆらゆらと首が揺れる様子が臨場感たっぷりでかわいいボブルヘッドは、コラボ企画の初登場アイテム。知的なバッグス・バニーとやんちゃなトゥイーティーの愛くるしいおしゃべりがいまにも聞こえてきそう！
                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        
       
        <!-- 2 -->
        <li class="modal-item item-explanation modal_2">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_2.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/2-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Stool
                    </p>
                    <p class="modal_price en_g">
                        ¥5,940
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2327248" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                持ち運びやすいスツールは、チェアとしても、ふたを取り外して収納ケースとしても使える便利なアイテム。クッション性のあるふたは座り心地も快適。レトロポップなロゴもアクセントに。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 3 -->
        <li class="modal-item item-explanation modal_3">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_3.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/3-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Trash Can
                    </p>
                    <p class="modal_price en_g">
                        ¥1,540
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2320969" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                クリーンな部屋で気持ちよく過ごしたい、新生活にそんな思いを抱いている人も多いでしょう。ふたはさっと取り外せて使いやすく、ポップなアクセントになるカラーもかわいいゴミ箱があれば、お掃除もはかどるはず。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 4 -->
        <li class="modal-item item-explanation modal_4">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_4.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/4-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Cushion
                    </p>
                    <p class="modal_price en_g">
                        ¥3,300
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2292440" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                『ルーニー・テューンズ』のコミックの表紙がふかふかのクッションに！　スモーキーな色合いやアメリカンポップなアニメーションがヴィンテージなアクセントに。裏側のブルーやイエローの単色カラーもかわいい。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 5 -->
        <li class="modal-item item-explanation modal_5">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_5.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/5-modal.png" alt="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289953">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Rug
                    </p>
                    <p class="modal_price en_g">
                        ¥7,700
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/itemlist/?dispNo=002005278001" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                『ルーニー・テューンズ』の陽気な仲間がラグになって登場！ コンパクトなデザインなのでベッドルームやデスク下などちょっとしたスペースにも活用可。オレンジのニュアンスカラーが空間のスパイスに！
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 6 -->
        <li class="modal-item item-explanation modal_6">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_6.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/6-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Room Shoes (Above)
                    </p>
                    <p class="modal_price en_g">
                        ¥3,520
                    </p>
                    <p class="modal_name modal_name2 en_g">
                        Room Shoes (Below)
                    </p>
                    <p class="modal_price en_g">
                        ¥3,520
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2318639" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                『ルーニー・テューンズ』の仲間が説明書風のアートになったスリッパ（MLサイズ）と、立体的な鼻や頭の毛（！）がキュートなシルベスターとトゥイーティーのスリッパ（フリーサイズ）。賑やかな足元でおうち時間を楽しく！
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 7 -->
        <li class="modal-item item-explanation modal_7">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_7.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/7-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Basket
                    </p>
                    <p class="modal_price en_g">
                        ¥1,760
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2286777" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                デイリーに使う買い物かごとしてはもちろん、車のトランクに置いてシューズや工具をしまうなど、多様な使い方ができるレジカゴ。レトロな色合いがインテリアに馴染み、部屋の収納としても活躍します。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 8 -->
        <li class="modal-item item-explanation modal_8">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_8.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/8-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Alarm Clock
                    </p>
                    <p class="modal_price en_g">
                        ¥1,980
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2318542" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                『ルーニー・テューンズ』の個性豊かなキャラクターたちがプリントされた置き時計は、目覚まし＆ライト機能つき。レトロな色合いのデザインが、新生活の慌ただしい毎日を賑やかに楽しく彩ってくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 9 -->
        <li class="modal-item item-explanation modal_9">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_9.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/9-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Wall Clock
                    </p>
                    <p class="modal_price en_g">
                        ¥3,300
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2318541" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                『ルーニー・テューンズ』の個性豊かなキャラクターたちがプリントされた置き時計は、目覚まし＆ライト機能つき。レトロな色合いのデザインが、新生活の慌ただしい毎日を賑やかに楽しく彩ってくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 10 -->
        <li class="modal-item item-explanation modal_10">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_10.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/10-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Mat (Left)
                    </p>
                    <p class="modal_price en_g">
                        ¥2,310
                    </p>
                    <p class="modal_name modal_name2 en_g">
                        Mat (Right)
                    </p>
                    <p class="modal_price en_g">
                        ¥2,530
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/itemlist/?dispNo=002005278002" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                大きな瞳のトゥイーティーと、ピアノを囲む仲間たちが切り抜きにデザインされたマット。敷くだけで玄関や部屋をおしゃれで個性的な空間にしてくれます。すべり止め付きでズレにくいのもポイント。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 11 -->
        <li class="modal-item item-explanation modal_11">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_11.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/11-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Tissue Case
                    </p>
                    <p class="modal_price en_g">
                        ¥2,530
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304215" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ティッシュはケースに入れるだけで“細部までおしゃれ”な部屋に印象が変わります。ダフィー・ダックや、コミックのコマをグラフィックにしたデザインも魅力。マットなフェイクレザーからは上質感が漂います。

                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 12 -->
        <li class="modal-item item-explanation modal_12">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_12.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/12-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Sign Board
                    </p>
                    <p class="modal_price en_g">
                        ¥2,200
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2327092" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ヴィンテージ調の色味やキャラクターたちの躍動感がかわいいサインプレート。玄関やキャビネットに飾るのもおすすめ。小さなアイテムながらユニークな存在感で、空間にレトロな心地よさを加えます。

                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 13 -->
        <li class="modal-item item-explanation modal_13">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_13.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/13-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Multi Cloth
                    </p>
                    <p class="modal_price en_g">
                        ¥4,950
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2284496" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                存在感抜群の大判クロスはヴィンテージ特有の懐かしく、暖かい空気感が魅力。タペストリーとして壁に飾っても、ブランケットとしてソファにさりげなくかけても素敵。カラフルなフリンジもインテリアのアクセントに。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 14 -->
        <li class="modal-item item-explanation modal_14">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_14.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/14-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Mobile Case
                    </p>
                    <p class="modal_price en_g">
                        ¥2,200
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2320380" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                キャラクターたちやコミック表紙のアクリルパーツがシャカっと動くスマホケース。パーツや背景シートは取り外しができるため、手持ちのステッカーなどとカスタムして、自分だけのスマホケースに。

                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 15 -->
        <li class="modal-item item-explanation modal_15">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_15.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/15-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Pen Case
                    </p>
                    <p class="modal_price en_g">
                        ¥2,420
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2324079" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ポップなフォントや愛おしいキャラクターたちが浮き出たようにデザインされたペンケースは、ヴィンテージ感漂うアイテム。やわらかく丈夫なソフトシリコン素材が大切な文具を守ってくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 16 -->
        <li class="modal-item item-explanation modal_16">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_16.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/16-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Mobile Grip
                    </p>
                    <p class="modal_price en_g">
                        ¥1,540
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2320393" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                モバイルグリップは単なるアクセサリーではなく、個性を演出するアイテム。オレンジやブルーの鮮やかなカラーと、キャッチーなキャラクターが、スマホを持つ人の手までおしゃれに見せてくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 17 -->
        <li class="modal-item item-explanation modal_17">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_17.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/17-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Headphone
                    </p>
                    <p class="modal_price en_g">
                        ¥3,630
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289656" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                一見無機質なヘッドフォンも、世界中から愛される『ルーニー・テューンズ』のキャラクターがデザインされるとたちまちスタイリッシュなファッションアイテムに。大人っぽいカラーがどんなコーデにも馴染みます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 18 -->
        <li class="modal-item item-explanation modal_18">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_18.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/18-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Earphone
                    </p>
                    <p class="modal_price en_g">
                        ¥3,300
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289657" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                まるでイヤカフのような見た目のイヤホンは、耳を塞がず外の音も取り込みながら音楽が聴けるのが特徴。説明書のようなデザインもシンプルなケースに映えておしゃれ。快適なオーディオライフでハッピーな新生活を。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 19 -->
        <li class="modal-item item-explanation modal_19">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_19.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/19-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        PC Case
                    </p>
                    <p class="modal_price en_g">
                        ¥2,420
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2324079" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ブラックをベースにゴールドで描いた『ルーニー・テューンズ』のアニメーションがスタイリッシュ。大人っぽい雰囲気できちんと感も演出できるアイテムなので、新生活のどんなシーンに馴染みます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 20 -->
        <li class="modal-item item-explanation modal_20">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_20.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/20-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Umbrella Marker
                    </p>
                    <p class="modal_price en_g">
                        ¥660
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289841" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                シンプルな傘もさりげなくおしゃれに彩るアンブレラマーカー。『ルーニー・テューンズ』のキャラクターたちは、遠くからでもわかる存在感が魅力。取り違えなどを防いで、大切な傘を守ってくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 21 -->
        <li class="modal-item item-explanation modal_21">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_21.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/21-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Umbrella
                    </p>
                    <p class="modal_price en_g">
                        ¥1,540
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2286204" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                コラボ企画では毎回大人気の傘。今回は『ルーニー・テューンズ』の図鑑を開いたようなにぎやかなデザインのものや、いろいろなポーズのダフィー・ダックがいっぱいに並んだ傘が完成。雨の日をご機嫌にしてくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 22 -->
        <li class="modal-item item-explanation modal_22">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_22.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/22-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Glasses Case
                    </p>
                    <p class="modal_price en_g">
                        ¥2,200
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304325" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ぴょこんと飛び出たバッグス・バニーの耳やトゥイーティーのくちばしの立体感がなんとも言えずキュート！ いつまでも触っていたくなるふわふわの生地感もポイント。ペンなど眼鏡以外のケースとしても使えます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 23 -->
        <li class="modal-item item-explanation modal_23">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_23.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/23-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Tote Bag
                    </p>
                    <p class="modal_price en_g">
                        ¥3,740
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304291" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                バッグス・バニーとトゥイーティーのチャーミングな表情をバッグいっぱいにプリントしたトート。くちばしや耳の立体感、フィルム柄にデザインされた持ち手（写真右のみ）など、細部にまで遊び心が満載。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 24 -->
        <li class="modal-item item-explanation modal_24">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_24.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/24-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Wrapping Paper
                    </p>
                    <p class="modal_price en_g">
                        ¥770
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2320382" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                説明書風のアニメーションや、コミックスの表紙が大きくプリントされたラッピングペーパーは、ポスターとしても人気。ヴィンテージ感あふれる発色とデザインは、おしゃれなインテリアアイテムとしても活躍します。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 25 -->
        <li class="modal-item item-explanation modal_25">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_25.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/25-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Handkerchief
                    </p>
                    <p class="modal_price en_g">
                        ¥880
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289915" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                どんな状況でもウィットに富んだジョークを飛ばす『ルーニー・テューンズ』のキャラクターたち。そんな彼らの姿に元気をもらえそうなハンカチをポケットやバッグにしのばせて、新生活を気持ちよくスタート！

                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 26 -->
        <li class="modal-item item-explanation modal_26">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_26.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/26-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Frame Magnet <br>
                        Collection
                    </p>
                    <p class="modal_price en_g">
                        ¥770
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2327135" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                表紙風アートのマグネットは、6種類全部揃えたくなるかわいさ！　中身が箱を開けてのお楽しみ＆うち1種はシークレットデザインとなれば、コレクター魂にも火がつきます。貼るだけで冷蔵庫や玄関がヴィンテージな空間に。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 27 -->
        <li class="modal-item item-explanation modal_27">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_27.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/27-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Measure
                    </p>
                    <p class="modal_price en_g">
                        ¥2,420
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289842" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                新生活で引っ越しを控えた人にとっての必須のメジャー。飾っておきたいくらいかわいいトゥイーティーの巻き尺があれば、面倒な採寸もワクワクしながらできそう！やわらかいシリコン製の使い心地もうれしい。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 28 -->
        <li class="modal-item item-explanation modal_28">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_28.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/28-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Stamp Case
                    </p>
                    <p class="modal_price en_g">
                        ¥1,980
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2325515" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                バッグス・バニーとシルベスターのフォルムが印鑑ケースに！　思わず笑顔になれるアイテムは、リップケースとしてバッグにつけることもできるキュートなデザインで、自分用にはもちろん、ギフトにもおすすめです。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 29 -->
        <li class="modal-item item-explanation modal_29">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_29.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/29-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Mascot Pouch
                    </p>
                    <p class="modal_price en_g">
                        ¥2,530
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304318" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ファッションアイテムとしてバッグにつけて楽しむ人も多い、ぬいぐるみ。バッグス・バニーやシルベスターのぬいぐるみはコミカルな見た目のかわいさに加えて、小物入れとしても使える機能性も。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 30 -->
        <li class="modal-item item-explanation modal_30">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_30.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/30-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                    <div class="name-price">
                        <p class="modal_name en_g">
                            Pass Case
                        </p>
                        <p class="modal_price en_g">
                            ¥2,420
                        </p>
                    </div>
                    <div class="modal_weblink en">
                        <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2286018" target="_blank">
                            WEB STORE
                        </a>
                    </div>
                </div>
                <div class="modal_txt">
                    飛び出したバッグス・バニーの耳とダフィー・ダックの足！ 遊び心と躍動感あふれるパスケースが、新生活の通勤をちょっぴり楽しい時間にしてくれます。伸縮自在なリール付きで、スムーズに使用できるのもポイント。
                </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 31 -->
        <li class="modal-item item-explanation modal_31">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_31.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/31-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Pouch
                    </p>
                    <p class="modal_price en_g">
                        ¥2,420
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304280" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                なめらかでしっかりとした生地感の合皮素材でつくったポーチは、丈夫で容量もたっぷり。内側には３つのポケット付で機能性も抜群。コミック柄のポーチには刺繍が施されるなど細部にまでこだわりが詰まっています。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 32 -->
        <li class="modal-item item-explanation modal_32">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_32.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/32-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Mug
                    </p>
                    <p class="modal_price en_g">
                        ¥1,760
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2290456" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                朝目覚めたとき、帰ってきてほっとひと息つくとき、いつもそばにあるのがマグカップ。4種類あるのでその日の気分に合わせて選んだり、友人やパートナーのプレゼントにもおすすめ。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 33 -->
        <li class="modal-item item-explanation modal_33">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_33.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/33-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Lunch Box
                    </p>
                    <p class="modal_price en_g">
                        ¥1,430
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2322155" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                ごはんを入れ、付属の押し型でギュッと押すだけでおにぎりをつくることができるケースは、新生活の忙しい朝に頼れる時短アイテムです。『ルーニー・テューンズ』のキャラクターたちと楽しいランチタイムを。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 34 -->
        <li class="modal-item item-explanation modal_34">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_34.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/34-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Cutlery
                    </p>
                    <p class="modal_price en_g">
                        ¥990
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2322156" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                毎日のランチタイムや、ピクニックに欠かせない箸＆ケースのセット。ぜひ『ルーニー・テューンズ』のランチボックスやボトルと揃えてみませんか？
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 35 -->
        <li class="modal-item item-explanation modal_35">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_35.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/35-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Cooler Bag
                    </p>
                    <p class="modal_price en_g">
                        ¥2,970
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289904" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                コンパクトに見えて、大きめのランチボックスもすんなり入るサイズ感！ 『ルーニー・テューンズ』のランチボックスやカトラリーを手に入れたら、ぜひ保冷バッグもおそろいにしてランチセットを楽しんで。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 36 -->
        <li class="modal-item item-explanation modal_36">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_36.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/36-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Stainless Bottle
                    </p>
                    <p class="modal_price en_g">
                        ¥2,420
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2286498" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                毎日の出勤や休日のお出かけをするとき、レトロな色合いで大人も使いやすい『ルーニー・テューンズ』のマイボトルはいかかでしょうか。軽くて保温性にも優れたステンレス製は、片手で開けられるワンタッチ式。おしゃれで機能的なアイテムです。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 37 -->
        <li class="modal-item item-explanation modal_37">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_37.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/37-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Apron
                    </p>
                    <p class="modal_price en_g">
                        ¥3,960
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304211" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                人気のエプロンは、キッチンだけでなく、DIYやガーデニングにも大活躍するワーク仕様で登場。大きめポケットやベルトは作業道具などがしまえて便利！ 肩紐部分は、お好みの長さに調整が可能です。　
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 38 -->
        <li class="modal-item item-explanation modal_38">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_38.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/38-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Bath Mat
                    </p>
                    <p class="modal_price en_g">
                        ¥1,980
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289386" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                吸水性がよく、肌触りも気持ちがいいソフト珪藻土のバスマット。シンプルな洗面所も、楽しく、華やいだ印象に。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 39 -->
        <li class="modal-item item-explanation modal_39">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_39.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/39-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Hair Band
                    </p>
                    <p class="modal_price en_g">
                        ¥2,200
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2318640" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                立体感のあるバッグス・バニーの耳やダフィー・ダックの足がかわいいヘアバンドは、つけたときの見た目のハッピー感も満点。やわらかな肌触りも心地よく、洗顔やメイク時間が、リラックス感あふれるひとときに。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 40 -->
        <li class="modal-item item-explanation modal_40">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_40.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/40-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Mirror
                    </p>
                    <p class="modal_price en_g">
                        ¥1,210
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2323318" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                持ち運びに便利なコンパクトミラーは、2倍拡大鏡付きでメイク直しにも最適。ヴィンテージ感あるデザインはキラキラと動くラメとの相性も抜群。ミラーを持つ手元まで華やかに演出してくれます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 41 -->
        <li class="modal-item item-explanation modal_41">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_41.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/41-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Wash Band
                    </p>
                    <p class="modal_price en_g">
                        ¥2,750
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2304326" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                毎朝・毎晩の洗顔時に手首を見れば、とびっきりキュートな2匹の顔が！ 一日の疲れも吹き飛びそうなウォッシュバンドは、吸水性のある生地で腕や服への水の飛び散りを防ぎます。
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 42 -->
        <li class="modal-item item-explanation modal_42">
            <div class="modal_ph">
                <img class="sp" src="<%= rootURL %>/assets/img/item_42.png" alt="">
                <img class="pc" src="<%= rootURL %>/assets/img/42-modal.png" alt="">
            </div>
            <div class="modal-item-right">
                <div class="modal_detail">
                <div class="name-price">
                    <p class="modal_name en_g">
                        Towel
                    </p>
                    <p class="modal_price en_g">
                        ¥1,980
                    </p>
                </div>
                <div class="modal_weblink en">
                    <a href="https://www.dot-st.com/nikoand/disp/CSfGoodsPage_001.jsp?ITEM_CD=2289914" target="_blank">
                        WEB STORE
                    </a>
                </div>
            </div>
            <div class="modal_txt">
                つい無地のものばかりを選んでしまうタオル。新生活のスタートには、特別感のある『ルーニー・テューンズ』のタオルを加えてみては？ 彼らの賑やかな様子が伝わってきて使うたびに楽しい気分に！
            </div>
            </div>
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </li>

        
        