<!-- キャラクター -->

        <!-- 43 -->
        <li class="modal-item chara-explanation modal_43">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara1.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name1.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                世界一有名なうさぎとして知られている、バッグス・バニー。クールなバッグス・バニーから出てくるのは、ウィットとユーモアに富んだ言葉たち。どんな状況でもマイペースを貫く姿勢もかっこいい、知的な野うさぎ。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
        
        <!-- 44 -->
        <li class="modal-item chara-explanation modal_44">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara2.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name2.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                長いまつ毛と大きな瞳、キュートな声が印象的なカナリア。愛くるしい存在ですが、実はかなりのやんちゃさも兼ね備えています。どんな状況も機転の早さで切り抜けるそんなところも見る人の心をつかんで離しません。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 45 -->
        <li class="modal-item chara-explanation modal_45">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara3.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name3.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                あの手この手でいろいろな作戦を立てては、失敗してしまう…だれもが身近に感じてしまう、愛すべき猫。いつも本能むき出しでトゥイーティーとの終わりなき戦いを繰り広げている姿もユーモラス。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 46 -->
        <li class="modal-item chara-explanation modal_46">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara4.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name4.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                「Beep!Beep!」というクラクションのような声が聞こえたかと思えば、フルスピードでどこまでも駆け抜けていきます。どんなに悪条件が重なっても、最後には幸運と勝利を引き寄せる果てしないパワーの持ち主。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 47 -->
        <li class="modal-item chara-explanation modal_47">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara5.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name5.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                いつもお腹をすかせて、恐ろしいほどの食欲を持っているタズマニアン・デビルの定番のセリフは「タズ、腹ペコ」。竜巻のように体を回転させながら駆け回り、そこら中のものをむさぼり食べる音が響きます。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 48 -->
        <li class="modal-item chara-explanation modal_48">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara6.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name6.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                火星からやってきたマービンは、忠犬K-9といつも一緒。頑固で自信家、好奇心旺盛な性格で、だれも思いつかないような宇宙的な視点で物事を捉えて、さまざまなミッションをクリアしていきます。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
        <!-- 49 -->
        <li class="modal-item chara-explanation modal_49">
            <div class="modal-chara_ph">
                <img src="<%= rootURL %>/assets/img/modal_chara7.png" alt="">
                <div class="modal-chara_name">
                    <img src="<%= rootURL %>/assets/img/modal_chara-name7.png" alt="">
                </div>
            </div>
            <div class="modal-chara_txt">
                天才的な頭脳を武器に、あの手この手でロード・ランナーを捕まえようとたくらむ孤独なコヨーテ。毎度のように失敗して返り討ちに遭うものの、決して諦めることのないNever Give Up精神が彼の持ち味。
            </div>
            <div class="chara_close">
                <span></span>
                <span></span>
            </div>
        </li>
