<div class="top">
    <div class="mv_left-wrap">
        <h1 class="ttl"> 
            <img src="<%= rootURL %>/assets/img/looney_logo.png" alt="">      
        </h1>
        <p class="lead pc">
            2017年に人気を呼んだ、<br>
            『ルーニー・テューンズ』とのコラボ企画第２弾。<br>
            世界中から親しまれているアニメーションの<br>
            リーダー的キャラクターであるバッグス・バニーが<br>
            誕生から85年を迎えることを記念した<br>
            特別なコレクションです。<br>
            ヴィンテージ調のデザインを施し、<br>
            新生活で使いたいアイテムとして完成させました！
        </p>
    </div>
    <div class="mv_center-wrap">
        <div class="mv_img">
            <img class="mv" src="<%= rootURL %>/assets/img/mv.jpg" alt="">      
            <div class="mv_ill mv_ill-1">
                <img src="<%= rootURL %>/assets/img/mv_ill-1.png" alt="">
            </div>
            <div class="mv_ill mv_ill-2">
                <img src="<%= rootURL %>/assets/img/mv_ill-2.png" alt="">
            </div>
            <div class="mv_txt_wrap">
                <div class="mv_txt mv_txt-2">
                    <img src="<%= rootURL %>/assets/img/mv_txt-2.jpg" alt="">
                </div>
                <div class="mv_txt mv_txt-1">
                    <img src="<%= rootURL %>/assets/img/mv_txt-1.png" alt="">
                </div>
            </div>
            <div class="mv_ill-3 pc">
                <img src="<%= rootURL %>/assets/img/mv_ill-3.png" alt="">
            </div>
            <div class="poof pc">
                <img src="<%= rootURL %>/assets/img/poof.png" alt="">
            </div>
        </div>
        <div class="wb_caption fadein">
            <img src="<%= rootURL %>/assets/img/wb_caption.png" alt="">
        </div>
        <div class="mv_illwrap mv_illwrap-sp sp">
            <div class="mv_ill-3">
                <img src="<%= rootURL %>/assets/img/mv_ill-3.png" alt="">
            </div>
            <div class="poof">
                <img src="<%= rootURL %>/assets/img/poof.png" alt="">
            </div>
        </div>
    </div>
    <p class="lead sp fadein">
        アメリカを代表するアニメーションとして、<br>
        およそ90年前の誕生から現在まで多くの人に<br>
        愛されている『ルーニー・テューンズ』。<br>
        いたずら好きのバッグス・バニーや大きな瞳の<br>
        トゥイーティーなど個性的なキャラクターが勢ぞろい！    
    </p>
    <div class="mv_right-wrap">
        <div class="about">
            <div class="about_ill about_1">
                <img src="<%= rootURL %>/assets/img/about_1.jpg" alt="">
            </div>
            <div class="about_ill about_2">
                <img src="<%= rootURL %>/assets/img/about_2.jpg" alt="">
            </div>
            <div class="about_wrap">
                <p class="whats en_g">
                    About
                </p>
                <h2 class="en">
                    LOONEY TUNES
                </h2>
                <p class="about_txt">
                    2017年に人気を呼んだ、<br>
                    『ルーニー・テューンズ』とのコラボ企画第２弾。<br>
                    世界中から親しまれているアニメーションの<br>
                    リーダー的キャラクターであるバッグス・バニーが<br>
                    誕生から85年を迎えることを記念した<br>
                    特別なコレクションです。<br>
                    ヴィンテージ調のデザインを施し、<br>
                    新生活で使いたいアイテムとして完成させました！
                </p>
            </div>
        </div>
    </div>
</div>