<header class="header">
    <h1 class="ttl"> 
        <img src="<%= rootURL %>/assets/img/looney_logo.png" alt="">      
    </h1>
    <div class="mv_img">
        <img src="<%= rootURL %>/assets/img/mv.jpg" alt="">      
        <div class="mv_ill mv_ill-1">
            <img src="<%= rootURL %>/assets/img/mv_ill-1.png" alt="">
        </div>
        <div class="mv_ill mv_ill-2">
            <img src="<%= rootURL %>/assets/img/mv_ill-2.png" alt="">
        </div>
    </div>
    <div class="wb_caption">
        <img src="<%= rootURL %>/assets/img/wb_caption.png" alt="">
    </div>
    <div class="mv_ill mv_ill-3">
        <img src="<%= rootURL %>/assets/img/mv_ill-3.png" alt="">
    </div>
    <div class="poof">
        <img src="<%= rootURL %>/assets/img/poof.png" alt="">
    </div>
</header>
<p class="lead">
    2017年に人気を呼んだ、
    『ルーニー・テューンズ』とのコラボ企画第２弾。
    世界中から親しまれているアニメーションに
    ヴィンテージ調のデザインを施し、
    新生活で使いたいアイテムとして完成させました！        
</p>
<div class="about">
    <div class="about_1">
        <img src="<%= rootURL %>/assets/img/about_1.jpg" alt="">
    </div>
    <div class="about_2">
        <img src="<%= rootURL %>/assets/img/about_2.jpg" alt="">
    </div>
    <div class="about_wrap">
        <p class="whats">
            What’s about
        </p>
        <h2>
            LOONEY TUNES
        </h2>
        <p class="about_txt">
            アメリカを代表するアニメーションとして、
            およそ90年前の誕生から現在まで多くの人に
            愛されている『ルーニー・テューンズ』。
            いたずら好きのバッグス・バニーや大きな瞳の
            トゥイーティーなど個性的なキャラクターが勢ぞろい！                
        </p>
    </div>
</div>