<div class="allitem en">
    <a href="https://www.dot-st.com/nikoand/disp/itemlist/?dispNo=002005278" target="_blank">
        ALL ITEM
    </a>
</div>
<div id="food">
    <div class="sp-special leftin">
        <div class="sp-menu">
            <img src="<%= rootURL %>/assets/img/sp_menu.jpg" alt="">
            <div class="menu_backs">
                <img src="<%= rootURL %>/assets/img/footer_backs.png" alt="">
            </div>
            <div class="menu_ttl">
                <p class="collabo_name en_g">
                    niko and ... Coffee meets
                </p>
                <h3 class="en">
                    LOONEY TUNES
                </h3>
                <p class="menu en">
                    SPECIAL MENU
                </p>
            </div>
        </div>

        <p class="menu_lead leftin">
            『ルーニー・テューンズ』のかわいいキャラクターたちが<br>
            おいしいドリンクやおしゃれなチョコレート、<br>
            かわいいクッキーになって登場！<br>
            「niko and ... COFFEE」で楽しんだり、<br>
            自分や友達へのギフトにするのもおすすめ。
        </p>

        <div class="menu_slide sp">
            <div class="swiper item-list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide item" data-modal="52">
                        <div class="menu_ph">
                            <img src="<%= rootURL %>/assets/img/menu_1.jpg" alt="">
                        </div>
                        <div class="menu_detail">
                            <p class="menu_name en_g">
                                Cookie
                            </p>
                            <p class="menu_price en_g">
                                ¥1,500
                            </p>
                            <div class="menu_check en">CHECK</div>
                        </div>
                    </div>
                    <div class="swiper-slide item" data-modal="50">
                        <div class="menu_ph">
                            <img src="<%= rootURL %>/assets/img/menu_2.jpg" alt="">
                        </div>
                        <div class="menu_detail">
                            <p class="menu_name en_g">
                                Smoothie
                            </p>
                            <p class="menu_price en_g">
                                ¥630
                            </p>
                            <div class="menu_check en">CHECK</div>
                        </div>
                    </div>
                    <div class="swiper-slide item" data-modal="51">
                        <div class="menu_ph">
                            <img src="<%= rootURL %>/assets/img/menu_3.jpg" alt="">
                        </div>
                        <div class="menu_detail">
                            <p class="menu_name en_g">
                                Chocolate
                            </p>
                            <p class="menu_price en_g">
                                ¥540
                            </p>
                            <div class="menu_check en">CHECK</div>
                        </div>
                    </div>
                    <div class="swiper-slide item" data-modal="52">
                        <div class="menu_ph">
                            <img src="<%= rootURL %>/assets/img/menu_1.jpg" alt="">
                        </div>
                        <div class="menu_detail">
                            <p class="menu_name en_g">
                                Cookie
                            </p>
                            <p class="menu_price en_g">
                                ¥1,500
                            </p>
                            <div class="menu_check en">CHECK</div>
                        </div>
                    </div>
                    <div class="swiper-slide item" data-modal="50">
                        <div class="menu_ph">
                            <img src="<%= rootURL %>/assets/img/menu_2.jpg" alt="">
                        </div>
                        <div class="menu_detail">
                            <p class="menu_name en_g">
                                Smoothie
                            </p>
                            <p class="menu_price en_g">
                                ¥630
                            </p>
                            <div class="menu_check en">CHECK</div>
                        </div>
                    </div>
                    <div class="swiper-slide item" data-modal="51">
                        <div class="menu_ph">
                            <img src="<%= rootURL %>/assets/img/menu_3.jpg" alt="">
                        </div>
                        <div class="menu_detail">
                            <p class="menu_name en_g">
                                Chocolate
                            </p>
                            <p class="menu_price en_g">
                                ¥540
                            </p>
                            <div class="menu_check en">CHECK</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pc-special leftin">
        <div class="menu_backs">
            <img src="<%= rootURL %>/assets/img/footer_backs.png" alt="">
        </div>
        <div class="special-left">
            <img src="<%= rootURL %>/assets/img/sp_menu.jpg" alt="">
        </div>
        <div class="special-right">
            <div class="menu_ttl">
                <p class="collabo_name en_g">
                    niko and ... Coffee meets
                </p>
                <p class="collabo_loony en">
                    LOONEY TUNES
                </p>
                <p class="collabo_menu en">
                    SPECIAL MENU
                </p>
            </div>
            <p class="menu_lead">
                『ルーニー・テューンズ』のかわいいキャラクターたちが<br>
                おいしいドリンクやおしゃれなチョコレート、<br>
                かわいいクッキーになって登場！<br>
                「niko and ... COFFEE」で楽しんだり、<br>
                自分や友達へのギフトにするのもおすすめ。
            </p>
            <div class="pc-menulist item-list">
                <div class="pc-menu item" data-modal="52">
                    <div class="menu_ph">
                        <img src="<%= rootURL %>/assets/img/menu_1.jpg" alt="">
                    </div>
                    <div class="menu_detail">
                        <p class="menu_name en_g">
                            Cookie
                        </p>
                        <p class="menu_price en_g">
                            ¥1,500
                        </p>
                        <div class="menu_check en">CHECK</div>
                    </div>
                </div>
                <div class="pc-menu item" data-modal="50">
                    <div class="menu_ph">
                        <img src="<%= rootURL %>/assets/img/menu_2.jpg" alt="">
                    </div>
                    <div class="menu_detail">
                        <p class="menu_name en_g">
                            Smoothie
                        </p>
                        <p class="menu_price en_g">
                            ¥630
                        </p>
                        <div class="menu_check en">CHECK</div>
                    </div>
                </div>
                <div class="pc-menu item" data-modal="51">
                    <div class="menu_ph">
                        <img src="<%= rootURL %>/assets/img/menu_3.jpg" alt="">
                    </div>
                    <div class="menu_detail">
                        <p class="menu_name en_g">
                            Chocolate
                        </p>
                        <p class="menu_price en_g">
                            ¥540
                        </p>
                        <div class="menu_check en">CHECK</div>
                    </div>
                </div>
            </div>
            <div class="shoplist en pc">
                <a href="" target="_blank">
                    SHOP LIST
                </a>
            </div>
        </div>
    </div>
</div>


<div class="shoplist en sp">
    <a href="" target="_blank">
        SHOP LIST
    </a>
</div>

<p class="niko_link">
    ニコアンドの食にまつわる情報を発信中！
</p>
<div class="niko_info en">
    <div class="info_link brand">
        <a href="https://www.dot-st.com/nikoand/?utm_source=google_dotst&utm_medium=cpc&utm_campaign=NC_kt&utm_content=nikoand&gad_source=1&gclid=Cj0KCQiA8fW9BhC8ARIsACwHqYrO5nBIbkeEHW7z1_jh3MDDcHj_blrBe37N6py4u4jXbYerqe99MB0aAgouEALw_wcB" target="_blank">
            BRAND SITE
        </a>
    </div>
    <div class="info_link insta">
        <a href="https://www.instagram.com/nikoand_official/" target="_blank">
            INSTAGRAM
        </a>
    </div>
</div>

<div class="event-info fadein">
    <h4 class="event en">
        EVENT INFO.
    </h4>
    <div class="info_wrap">
        <div class="event_1">
            <p class="event_num en_g">
                01
            </p>
            <p class="event_ttl">
                コラボレーションを記念した<br>
                特設フォトスポットが登場！                
            </p>
            <p class="event_txt">
                ニコアンドの一部店舗では、<br>
                人気キャラクターたちの立体的なスタチューや、<br>
                記念撮影ができるフォトパネルを設置！<br>
                アニメの世界観に浸れる空間はファン必見です。  
            </p>
            <div class="event_red">
                実施期間
            </div>
            
            <p class="event_ttl">
                2025年3月5日（水） - 2025年4月24日（木）
            </p>
            <p class="event_attend">
                ※店舗によって終了日が異なる場合がございます。
            </p>
            
            <div class="event_red">
                実施店舗
            </div>
            <p class="store">
                <span>（ スタチュー ）</span>
                niko and ... TOKYO
            </p>
            <p class="store">
                <span>（ フォトパネル ）</span>
                niko and ... TOKYO <br class="sp">
                niko and ... mozoワンダーシティ<br>
                niko and ... 神戸ハーバーランドウミエ<br class="sp">
                niko and ... 横浜ベイクォーター<br>
                niko and ... ららぽーとTOKYOBAY <br class="sp">
                niko and ... イオンモール白山 <br>
                niko and ...」イオンモール豊川<br class="sp">
                niko and ... ららぽーと福岡<br>
                niko and ... イオンモール旭川西
            </p>
        </div>
        <div class="event_2">
            <p class="event_num en_g">
                02
            </p>
            <p class="event_ttl">
                ルーニー・テューンズの仲間たちが<br>
                ニコアンドにやってくる！                        
            </p>
            <p class="event_txt">
                トゥイーティー、バッグス・バニー、シルベスターとの<br>
                グリーティングイベントを1日限定で開催！<br>
                個性豊かなキャラクターたちがコラボを盛り上げます。<br>
                身近にふれあえるこのチャンスをお見逃しなく。
                
            </p>
            <div class="event_red">
                実施期間
            </div>
            
            <p class="event_ttl">
                2025年3月8日（土）
            </p>
            <p class="event_ttl">
                1回目 13:00～ ｜ 2回目 15:00～
            </p>
            <p class="event_attend">
                ※各回先着30名様<br>
                ※当日スケジュールは変更になる可能性がございます。
            </p>
            
            <div class="event_red">
                実施店舗
            </div>
            <p class="store store2">
                niko and ... 横浜ベイクォーター
            </p>
            <p class="event_txt">
                神奈川県横浜市神奈川区 <br class="sp">
                金港町1−10 横浜ベイクォーター 3F
            </p>
            <div class="event_red">
                実施店舗
            </div>
            <p class="event_txt">
                ・参加費は無料です<br>
                ・先着順となりますので人数に達し次第受付終了です<br>
                ・各回の30分前に整理券を配布します<br>
                ※イベントの最新情報は「niko and ...」<br>
                雑貨公式インスタグラム（@<a href="https://www.instagram.com/nikoand_tools/" target="_blank">nikoand_tools</a>）にて<br class="sp">配信します。
            </p>
            
        </div>
    </div>

</div>